.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    padding: var(--desktop-padding);
    flex: 1;
}

.main {
    padding: var(--desktop-padding);
    flex: 4;
}

.footer {
    flex: 1;
}

@media (max-width: 575.98px) {
    .header,
    .main {
        padding: var(--mobile-padding);
    }
}
