:root {
    --primary-color: #ff6060;
    --lightgrey-color: #f6f6f6;
    --desktop-padding: 0 3rem 0 3rem;
    --mobile-padding: 0 1.5rem 0 1.5rem;
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
